# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://placementmanagementproject_db_user:4q89jrUxv7rdebxT@pmscluater.daok1o0.mongodb.net/?appName=PMSCluater

# Auth
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Email (use Gmail App Password)
EMAIL_USER=placement.management.project@gmail.com
EMAIL_PASS=dndp ybfa qife hfqp

# Frontend
CLIENT_URL=http://localhost:5173

# Frontend env
VITE_API_URL=http://localhost:5000/api

CLOUDINARY_URL=cloudinary://911496777915861:L_bf2gixXbNPz6ZY8Rphp6W4sj0@dyyqqrdsp